body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Calibri, Arial, Sans;
    color: #333333;
    background: #FFF;
}

h1 {
    font-size: 50pt;
}

h1, h2, h3 {
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background: #eeeeee99;
}

.rede {
    font-weight: bold;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eeeeee99;
    border-radius: 10px;
    padding: 10px;
}

section p img {
    height: 33px;
    width:  33px;
    padding-right: 10px;
    padding-left: 10px;
}

*::-webkit-scrollbar {
    background: #5F461800;
    width: 10px;
    border-radius: 2px;
}

*::-webkit-scrollbar-track {
    background: #5F461800;
    border-radius: 2px;
    margin: 3px;
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaaaaa99;
    border-radius: 3px;
    margin: 2px;
    width: 3px;
}

.hidden {
    display: none !important;
}

section a {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

footer h3 {
    background: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eeeeee99;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10%;
}
