body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Calibri, Arial, Sans;
    color: #333333;
    background: #FFF;
}

h1 {
    font-size: 50pt;
}

h1, h2 {
    text-align: center;
}

.rede {
    font-weight: bold;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#desc {
    background: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
}

p img {
    height: 33px;
    width:  33px;
    padding-right: 10px;
    padding-left: 10px;
}

.hidden {
    display: none !important;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}
