body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Calibri, Arial, Sans;
    color: #ddd;
    background: #101010;
}

h1 {
    font-size: 50pt;
}

h1, h2 {
    text-align: center;
}

.rede {
    font-weight: bold;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#desc {
    background: #212121;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

section p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #212121;
    border-radius: 10px;
    padding: 10px;
}

section p img {
    height: 33px;
    width:  33px;
    padding-right: 10px;
    padding-left: 10px;
}

.hidden {
    display: none !important;
}

section a {
    font-weight: bold;
    text-decoration: none;
    color: #eee;
}

footer {
    margin-top: 10%;
}
