<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Criador de link</title>
        <link rel="stylesheet" href="/static/style.creator.css" type="text/css" media="all">
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
    </head>
    <body>
        <section>

            <h1>Criador de link</h1>

            <div>
                <form action='/' method="get" accept-charset="utf-8">
                    <h2>Nome da empresa</h2>
                    <p class="prog">
                        <input type="text" placeholder='digite aqui' name="name" id="name" value="">
                    </p>
                    <h2>Slogan da empresa</h2>
                    <p class="prog">
                        <input type="text" placeholder='digite aqui' name="slogan" id="slogan" value="">
                    </p>
                    <h2>Descrição da empresa</h2>
                    <p class="prog">
                        <input type="text" placeholder='digite aqui' name="description" id="description" value="">
                    </p>
                    <h2>Logo da empresa</h2>
                    <p class="prog">
                        <input type="text" placeholder='link para a imagem' name="logo" id="logo" value="">
                    </p>
                    <br></br>

                    <p class="title">
                        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/> Instagram
                    </p>
                    <p>Username: <input type="text" name="instagram" id="instagram"/></p>
                    <p>Link: <input type="text" name="instagram_link" id="instagram_link"/></p>
                    <br></br>

                    <p class="title">
                        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/> facebook
                    </p>
                    <p>Nome: <input type="text" name="facebook" id="facebook"/></p>
                    <p>Link: <input type="text" name="facebook_link" id="facebook_link"/></p>
                    <br></br>

                    <p class="title">
                        <img src="https://img.icons8.com/officel/48/000000/whatsapp.png"/> WhatsApp
                    </p>
                    <p>Numero: <input type="text" name="whatsapp" id="whatsapp"/></p>
                    <p>Link: <input type="text" name="whatsapp_link" id="whatsapp_link"/></p>
                    <br></br>

                    <p class="title">
                        <img src="https://img.icons8.com/color/48/000000/send-mass-email.png"/> Email
                    </p>
                    <p>Email: <input type="text" name="email" id="email"/></p>
                    <p>Link: <input type="text" name="email_link" id="email_link"/></p>
                    <br></br>

                    <p class="title">
                        <img src="https://img.icons8.com/plasticine/100/000000/image.png"/> Background
                    </p>
                    <p>Link: <input type="text" name="back" id="back"/></p>
                    <br></br>

                    <p class="prog"><input type="submit" name="" id="" value="Gerar"></p>
                </form>
            </div>

        </section>

        <footer>
            <h3>CopyRight &copy; Yak's Vinicios S. Souza</h3>
            <p>&lt;pl4nk1ton@gmail.com&gt;</p>
        </footer>
    </body>
</html>
