<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{data['name']}}</title>
        <link rel="stylesheet" href="/static/root.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{styles}}" type="text/css" media="all">
        <style type="text/css" media="screen">
html, body {
    height: 99%;
    width: 99%;
    background-size: cover;
    background-image: url("{{data['back']}}")
}

@media print {
    footer {
        display: none !important;
    }
}
        </style>
    </head>
    <body>
        <section>

            <h1>{{data['name']}}</h1>
            <h3 class="{{ 'hidden' if not data['slogan'] else '' }}">{{data['slogan']}}</h3>

            <div id='desc' class="{{ 'hidden' if not data['description'] else '' }}">
                <p>{{data['description']}}</p>
            </div>

            <div>
                <p class="{{ 'hidden' if not data['logo'] else '' }}">
                    <img class="logo {{ 'hidden' if not data['logo'] else '' }}" src="{{data['logo']}}"/>
                </p>
                <p class="{{ 'hidden' if not data['instagram'] else '' }}">
                    <a href="{{data['instagram_link']}}" target="_blank">
                    <img class="{{ 'hidden' if not data['instagram'] else '' }}" src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/> <span>{{data['instagram']}}</span>
                    </a>
                </p>
                <p class="{{ 'hidden' if not data['facebook'] else '' }}">
                    <a href="{{data['facebook_link']}}" target="_blank">
                        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/> <span>{{data['facebook']}}</span>
                    </a>
                </p>
                <p class="{{ 'hidden' if not data['whatsapp'] else '' }}">
                    <a href="{{data['whatsapp_link']}}" target="_blank">
                        <img src="https://img.icons8.com/officel/48/000000/whatsapp.png"/> <span>{{data['whatsapp']}}</span>
                    </a>
                </p>
                <p class="{{ 'hidden' if not data['email'] else '' }}">
                    <a href="{{data['email_link']}}" arget="_blank">
                        <img src="https://img.icons8.com/color/48/000000/send-mass-email.png"/> <span>{{data['email']}}</span>
                    </a>
                </p>
            </div>

        </section>

        <footer>
            <h3>CopyRight &copy; Yak's Vinicios S. Souza</h3>
            <p>&lt;vinicios.sousa909@gmail.com&gt;</p>
        </footer>
    </body>
</html>
